@model MonAppliWeb.Models.Member
<!-- MonAppliWeb.Controllers.Auhtentification-->

@{
    ViewBag.Title = "Inscription";

    string message = "";
   // bool rez = Model.CreateMember();
}

<h2>Inscription</h2>
<form method="post" action="SaveMbToBdd">
    <p>
        Nom :
        <input id="FNMb" name="FirstName" type="text" value="@Model.FirstName" />
    </p>
    <p>
        <!-- @Html.TextBoxFor(u => u.LastName)-->
        Prénom :
        <input id="LNMb" required name="LastName" type="text" value="@Model.LastName" />
    </p>
    <p>
        Date de naissance :
        <input id="BDMb" name="BirthDate" type="date" value="@Model.BirthDate" />
    </p>
    <p>
        Adresse :
        <input id="AdMb" name="Address" type="text" value="@Model.Address" />
    </p>
    <p>
        Ville :
        <input id="CityMb" name="City" type="text" value="@Model.City" />
    </p>
    <p>
        Code postal :
        <input id="ZCMb" name="ZipCode" type="number" min="0" value="@Model.ZipCode" />
    </p>
    <p>
        Numéro de téléphone :
        <input id="NumMb" name="Phone" type="tel" value="@Model.Phone" />
    </p>
    <p>
        Adresse de messagerie :
        <input id="MailMb" name="Email" type="email" value="@Model.Email" />
    </p>
    <p>
        Login :
        <input id="LogMb" name="Login" type="text" value="@Model.Login" />
    </p>
    <p>
        Mot de passe :
        <input id="PWMb" name="Password" type="password" value="@Model.Password" />
    </p>
    <input type="submit" value="Enregistrer" /> 
</form>

-<div>
    @ViewBag.message
</div> 
