@model IEnumerable<MonAppliWeb.Models.ServiceRequest>

@{
    ViewBag.Title = "Liste des services";
}

<h2>Liste des services</h2>

<p>
    @Html.ActionLink("Ajouter une demande de service", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CancelDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoluntaryFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoluntaryLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceAddress)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BeneficiaryFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeneficiaryLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceStartDateToDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceCityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CancelDateToDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoluntaryFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoluntaryLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceAddress)
        </td>
        <td>
            @*@Html.ActionLink("Details", "Details", new { id = item.ServiceRequestID }, new { @class = "btn btn-info" })*@
            @Html.ActionLink("Details", "Details", new { id = item.ServiceRequestID }, new { @class = "btn btn-info", @Disabled = "disabled", @onclick = "javascript:return false;" })
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id = item.ServiceRequestID }, new { @class = "btn btn-primary" })
        </td>
        <td>
            @Html.ActionLink("Annuler", "Delete", new { id = item.ServiceRequestID }, new { @class = "btn btn-danger" })
        </td>
        <td>
            @Html.ActionLink("Volontaires", "Matching", "ServiceRequest", new { id = item.ServiceRequestID }, new { @class = "btn btn-success" })
        </td>
    </tr>
        }

    </table>
</div>